body{
    display: inline-block;
    background-color: fuchsia;
    
}
.ja{
    background-image: url("https://imgresizer.eurosport.com/unsafe/2560x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2022/04/03/3349464-68469548-2560-1440.jpg");
    background-size: cover;
    border: 1px solid black;
    box-shadow:   10px  20px rgba(0, 217, 255, 0.418);
    font-size: auto;
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}